h1, h2, h3{
    font-family: 'Averia Serif Libre', cursive;
}
body {
    background: black;
}
.background {
    background: black;
}
.ring {
    content: url(../images/one_ring_small.gif);
    display:none;
}
.answerchoice:hover + .ring {
    display:block;
}
/* #pageLoad {
    position: absolute;
    top: 150px;
} */
/* #start {
    display: inline-block;
} */